/A.class
/Animal.class
/B.class
/C01NullpointerExceptionMain.class
/C02ArrayIndexBoundExceptionMain.class
/C03ClassCastExceptionMain.class
/C04ExceptionMain.class
/C05ThrowAndThrowsMain.class
/Cat.class
/Dog.class
