@charset "UTF-8";

.reply-block .reply-header textarea{
	height : 40px;
	
}
.reply-block .reply-body .item{
	
	display:flex;
	align-items : center;
	gap:20px;
	border : 1px solid;
	margin: 10px 0;
}
.reply-block .reply-body .item>*{
	/* border : 1px solid */;
}