/C00INFO.class
/C01FunctionalinterfaceMain.class
/Func1.class
/Func2.class
/Func3.class
/C02EX.class
/Calc.class
/Functional.class
/Calc$C02EX.class
/C03FunctionalInterfaceMain.class
/C04EX.class
/C04Ex.class
